@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?phnv33');
  src: url('fonts/icomoon.eot?phnv33#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?phnv33') format('truetype'),
    url('fonts/icomoon.woff?phnv33') format('woff'),
    url('fonts/icomoon.svg?phnv33#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wechat:before {
  content: "\e904";
  color: #7bb32e;
}

.icon-github:before {
  content: "\eab0";
}

html {
  font-size: 16px;
}

body {
  background-color: #333;
}

