.main_wrapper {
    margin: auto;
    display: flex;
    min-width: 62rem;
    height: calc(100vh);
    min-height: 40rem;
    align-items: center;
    justify-content: space-between;
    transition: all 0.6s;
    font-family: 'Courier New', Courier, monospace;
  }