.history_wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3.3rem 29.7rem;
    width: 30%;
    min-width: 27rem;
    height: 33rem;
    background: rgba(100, 100, 100, 0.5);
    transition: all 0.6s;
    border-radius: 1rem;
    overflow: hidden;
}


#title {
    position: relative;
    background-color: #F9DD75;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
}

#title p{
    margin: 0;
    text-align: center;
    line-height: 3.3rem;
    color: #333;
    font-size: 1.2rem;
}

#clearAll {
    position: absolute;
    opacity: 0;
    width: 1rem;
    height: 1rem;
    top: 1.15rem;
    right: 1rem;
    background-color: lightcoral;
    border: 1px solid transparent;
    border-radius: 20%;
    transition: all 0.5s;
}

#title:hover #clearAll {
    opacity: 1;
}

.itemWrapper {
    background-color: #F8F8E0;
    padding: 0; 
    margin: 0;
    list-style: none;
}

.item {
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
    width: 100%;
    height: 3.3rem;
    align-items: center;
    justify-content: space-evenly;
}

.item button{
    width: 1rem;
    height: 1rem;
    border: 1px solid white;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s;
}

.item:hover button{
    opacity: 1;
}

#item_del{
    background-color: lightcoral;
}

#item_del:hover {
    transform: scale(1.2);
}

#item_flashback{
    background-color: lightgreen;
}

#item_flashback:hover {
    transform: scale(1.2);
}

#item_content{
    display: block;
    width: 85%;
    height: 100%;
    line-height: 3.3rem;
    font-size: 1.2rem;
    text-align: right;
    align-items: center;
}


